*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding-bottom: env(safe-area-inset-bottom);
  font-family: 'Open Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next,
.__page,
.__overlay {
  isolation: isolate;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition-enter {
  opacity: 0;
}

.transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.transition-exit {
  opacity: 1;
}

.transition-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply relative inline-flex w-fit items-center justify-center gap-x-1.5 rounded-md text-center font-semibold shadow-sm transition-colors duration-300 disabled:cursor-not-allowed;
  }

  .btn-xs {
    @apply text-xs;
  }

  .btn-sm,
  .btn.md,
  .btn.lg,
  .btn.xl {
    @apply text-sm;
  }

  .btn-xs,
  .btn-sm {
    @apply px-2 py-1;
  }

  .btn-md {
    @apply px-2.5 py-1.5;
  }

  .btn-lg {
    @apply px-3 py-2;
  }

  .btn-xl {
    @apply px-3.5 py-2.5;
  }

  .btn-contained {
    @apply text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 disabled:bg-slate-400;
  }

  .btn-outlined {
    @apply ring-2 ring-inset hover:bg-white disabled:text-slate-400 disabled:ring-slate-400;
  }

  .btn-contained-primary {
    @apply bg-primary hover:bg-primary-dark focus-visible:outline-primary;
  }

  .btn-outlined-primary {
    @apply ring-primary text-primary;
  }

  .btn-contained-primary-dark {
    @apply bg-primary-dark hover:bg-primary focus-visible:outline-primary-dark;
  }

  .btn-outlined-primary-dark {
    @apply ring-primary-dark text-primary-dark;
  }

  .input-container {
    @apply relative mt-1.5 min-w-0 flex-1;
  }

  .input-label {
    @apply absolute -top-2 left-2 z-[1] inline-block bg-white px-1 text-xs font-medium text-gray-900;
  }

  .input-field {
    @apply ring-secondary focus:ring-primary block h-10 w-full rounded-md border-0 bg-white py-2 text-gray-900 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6;
  }

  .input-field-error {
    @apply text-red-900  !ring-red-300 placeholder:text-red-300 focus:ring-red-500;
  }

  .text-error {
    @apply mt-1 text-xs text-red-600;
  }
}
